.todo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.checkbox {
  /* goes clockwise: top right bottom left */
  margin: auto 4px auto 0;
}

.btn {
  border-radius: 10px;
  border: none;
  display: inline-block;
  background: #555;
  color: #fff;
  margin: auto 0 auto 4px;
  cursor: pointer;
}

.btn:hover {
  background: red;
}
